.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover {
    opacity: 0.9;
    background-color: #340e36;
}

.sidebarOption__icon {
    padding: 10px;
    font-size: 36px !important;
}

.sidebarOption__channel {
    padding: 10px 8px;

}

.sidebarOption__hash {
    margin-right: 4px;
}

.sidebarOption > h3 {
    font-weight: 500;
}
